.DS_Store
/.build
/dist
Packages/**/.build/
Packages/**/.swiftpm/
Packages/**/Package.resolved
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
SharedCore/.build/
